layout {
    default_tab_template {
        // Barre du HAUT (Onglets uniquement)
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        // Barre du BAS (Options et aide à la navigation)
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Control-Plane" focus=true {
        pane split_direction="vertical" {
            pane name="Explorer" stacked=true {
                pane name="k3s" cwd="/home/elfenec/gitops"
                pane name="k9s" command="k9s" cwd="/home/elfenec/gitops"
            }
            pane name="Editor" stacked=true {
                pane name="glow" command="glow" cwd="/home/elfenec/gitops" {
                    args "README.md"
                }
                pane name="git" command="lg" cwd="/home/elfenec/gitops"
            }
        }
    }

    tab name="Workstation" {
        pane name="monitor" command="ssh" {
            args "-t" "elfenec@pop-os" "btop"
        }
    }

    tab name="Workspace" {
        pane split_direction="vertical" {
            pane name="devbox" command="y" cwd="/home/elfenec/dotfiles"
            pane name="github" command="lg" cwd="/home/elfenec/dotfiles"
        }
    }
}

